@using Hospital.Areas.Profile.Models
@model ProfileViewModel
@{
    ViewBag.Title = "Profile";

}
@Styles.Render("~/Content/Profile.css")
@Styles.Render("~/Content/SideLinks.css")

<div class="information">
    <div class="profile-messages">
        <h2>Your profile information</h2>
        @{
            @ViewBag.DoctorCreatingInfo
            if (Model.IsUserDoctor && !Model.IsDoctorConfirmed)
            {
                <h4>Your Doctor page is on watching by Administration, wait for the confirmation!</h4>
            }
            if (Model.IsUserPatient && !Model.IsPatientConfirmed)
            {
                <h4>Your Patient page is on watching by Administration, wait for the confirmation!</h4>
            }

        }
    </div>

    <div class="unit-info">
        <div class="profile-details">
            <div class="field">
                @Html.LabelFor(model => model.Email)
                @Model.Email
            </div>

            <div class="field">
                @Html.LabelFor(model => model.Address)
                @Model.Address
            </div>

            <div class="field">
                @Html.LabelFor(model => model.PhoneNumber)
                @Model.PhoneNumber
            </div>


            <div class="field">
                @Html.LabelFor(model => model.Name)
                @Model.Name
            </div>


            <div class="field">
                @Html.LabelFor(model => model.BirthDate)
                @Model.BirthDate.ToShortDateString()
            </div>


            <div class="field">
                @Html.LabelFor(model => model.Gender)
                @Model.Gender
            </div>


            <div class="field">
                @Html.LabelFor(model => model.Roles)
                @{
                    var res = string.Join(",", Model.Roles);
                }
                @res;
            </div>

        </div>

        <div class="links">
            @foreach (var role in Model.Roles)
            {
                if (role == "Administrator")
                {
                    @Html.ActionLink("Admin control panel", "Index", new { area = "Administration", controller = "ControlPanel" })
                }
            }

            @if (Model.IsUserDoctor)
            {
                @Html.ActionLink("Doctor Page", "Index", new { area = "Doctor", controller = "Page" })
            }
            else if (!Model.IsUserDoctor)
            {
                @Html.ActionLink("Create an doctor Page", "Create", new { area = "Doctor", controller = "Page" })
            }

            @if (Model.IsUserPatient)
            {
                @Html.ActionLink("Patient Page", "Index", new { area = "Patient", controller = "Page" })
            }
            else if (!Model.IsUserPatient)
            {
                @Html.ActionLink("Create an patient Page", "Create", new { area = "Patient", controller = "Page" })
            }
        </div>
    </div>

</div>








