@using Hospital.Areas.Administration.Models
@model ConfirmationModel
@{
    ViewBag.Title = "Index";
}

<section class="doctors">
    @{
        if (Model.Doctors.Count() > 0)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <section class="create-refuse-doctors">
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    @*@Html.HiddenFor(m => m.Doctors)*@
                    @Html.ListBoxFor(model => model.SelectedDoctorId, Model.Doctors, new { @id = "docs", size = 10 })
                    @*@Html.ValidationMessageFor(x => x.SelectedDoctorId, "", new { @class = "text-danger" })*@

                    <div class="submit-button">
                        <input type="submit" value="Confirm" name="action:ConfirmDoctor" class="btn btn-default" />
                        <input type="submit" value="Refuse" name="action:RefuseDoctor" class="btn btn-default" />
                    </div>
                </section>
            }
        }
    }
</section>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<section class="patients">
    @{
        if (Model.Patients.Count() > 0)

        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <section class="create-refuse-patients">

                    @*@Html.HiddenFor(m => m.Doctors)*@
                    @Html.ListBoxFor(model => model.SelectedPatientId, Model.Patients, new { @id = "patients", size = 10 })
                    @*@Html.ValidationMessageFor(x => x.SelectedPatientId, "", new { @class = "text-danger" })*@

                    <div class="submit-button">
                        <input type="submit" value="Confirm" name="action:ConfirmPatient" class="btn btn-default" />
                        <input type="submit" value="Refuse" name="action:RefusePatient" class="btn btn-default" />
                    </div>
                </section>
            }
        }
    }
</section>



<div id="dinfo" class="selected-doctor-info"> </div>
<div id="pinfo" class="selected-patient-info"> </div>
@section Scripts {
    <script type="text/javascript">
            $(function () {
                $("select[id='docs']").removeAttr('multiple');
            });

            $(document).ready(function () {
                $("#docs").change(function (evt) {
                    $.post("@Url.Action("ShowDoctorInfo", "Confirmation",new { @area = "Administration" })", { doctorId: ($("#docs").val()) }, function (data) {
                        $("#dinfo").empty();
                        $("#dinfo").append(data);
                        //alert($("#docs").val());
                        //alert($("#docs option:selected").text());
                    });
                });
            });
    </script>
    <script type="text/javascript">
            $(function () {
                $("select[id='patients']").removeAttr('multiple');
            });

            $(document).ready(function () {
                $("#patients").change(function (evt) {
                    $.post("@Url.Action("ShowPatientInfo", "Confirmation",new { @area = "Administration" })", { patientId: ($("#patients").val()) }, function (data) {
                        $("#pinfo").empty();
                        $("#pinfo").append(data);
                        //alert($("#docs").val());
                        //alert($("#docs option:selected").text());
                    });
                });
            });
    </script>
}




