@using Hospital.Areas.Administration.Models
@model RelationshipModel
@section Scripts {
    <script type="text/javascript" async>
            $(function () {
                $("select[id='doctors']").removeAttr('multiple');
                $("select[id='patients']").removeAttr('multiple');
            });

        $(document).ready(function () {
            $(document).on('change', '#doctors', function (evt) {
                    $.post("@Url.Action("ShowDoctorInfo",new { @area = "Administration" })", { doctorId: ($("#doctors").val()) }, function (data) {
                        $("#dinfo").empty();
                        $("#dinfo").append(data);

                    });
                });
            $(document).on('change', '#patients',function (evt) {
                    $.post("@Url.Action("ShowPatientInfo",new { @area = "Administration" })", { patientId: ($("#patients").val()) }, function (data) {
                        $("#pinfo").empty();
                        $("#pinfo").append(data);
                       
                    });
                });
                $("#specializations").change(function (evt) {
                    var SpecVal = document.getElementById("specializations").value;
                    if (SpecVal != "") {

                        $.post("@Url.Action("SortBySpecializ","Relationship",new { @area = "Administration" })", { specialization: ($("#specializations").val()) }, function (data) {
                            $("#D-P-List").empty();
                            $("#D-P-List").append(data);
                            $("select[id='doctors']").removeAttr('multiple');
                            $("select[id='patients']").removeAttr('multiple');

                          //  $("#D-P-List").html(data);


                        });
                    }
                    else if (SpecVal == "") {
                        $.post("@Url.Action("CancelDoctorSorting", "Relationship",new { @area = "Administration" })", { specialization: ($("#specializations").val()) }, function (data) {
                            $("#D-P-List").empty();
                            $("#D-P-List").append(data);
                            $("select[id='doctors']").removeAttr('multiple');
                            $("select[id='patients']").removeAttr('multiple');

                           // $("#D-P-List").html(data);


                        });
                    }
                });
            });
    </script>
}

@{
    ViewBag.Title = "Relationship page";
}
@Styles.Render("~/Content/SideLinks.css")
@Styles.Render("~/Content/Relationship.css")
<section class="relationship">

    <div id="docsection" class="doctors-patients">
        @{
            if (Model.Doctors.Count() > 0 && Model.Patients.Count() > 0)
            { <div class="doc-pat-list">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.DropDownListFor(model => model.SelectedSpecialization, Model.Specializations, "Without Specialization Sort", new { @id = "specializations" })
                    <div class="dplists" id="D-P-List">
                        @Html.Partial("DoctorPatientList", Model)
                    </div>
                </div>
            }
        }
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="personal-info">
            <div id="dinfo" class="selected-doctor-info"> </div>
            <div id="pinfo" class="selected-patient-info"> </div>
        </div>

    </div>

    <div class="links">
        @Html.ActionLink("Back to control panel", "Index", new { area = "Administration", controller = "ControlPanel" })
    </div>

</section>






