@using Hospital.Areas.Doctor.Models
@model DoctorPageInfo
@{
    ViewBag.Title = "Page Info";
}

@Styles.Render("~/Content/SideLinks.css")
@Styles.Render("~/Content/DoctorPage.css")

@if(Model.Patients.Count() == 0)
{
     <h2> You have no patients </h2>
}
<div class="page">
    <div class="content">
        @if (!Model.IsConfirmed)
        {
            <h4> This page is not confirmed, please wait for confirmation, we are reviewing your request!</h4>
        }
        @if (Model.Patients.Count() > 0)
        {
            <div class="list-box">
                @Html.ListBoxFor(model => model.SelectedPatientId, Model.Patients, new { @id = "patients", size = 10 })
            </div>        
        }

        <div id="pinfo" class="selected-patient-info"> </div>
    </div>


    <div class="links">
        @Html.ActionLink("Back to profile", "Index", new { area = "Profile", controller = "Information" })
    </div>
</div>



@section Scripts {
    <script type="text/javascript" async>
        $(function () {
            $("select[id='patients']").removeAttr('multiple');
        });

        $(document).ready(function () {
              $("#patients").change(function (evt) {
                    $.post("@Url.Action("ShowPatientInfo",new { @area = "Doctor" })", { patientId: ($("#patients").val()) }, function (data) {
                        $("#pinfo").empty();
                        $("#pinfo").append(data);
                    });
            });
        });
        


    </script>
}
