@using Hospital.Areas.Patient.Models
@model PatientRegistrationModel

@{
                /**/

                ViewBag.Title = "Create Patient Page";
}
@Styles.Render("~/Content/SideLinks.css")
@Styles.Render("~/Content/CreatingPage.css")



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="creating-patient-section">
        <section class="content">
            <div class="betwen-section">
                <h2>You are in the creating page of "Patient" role</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="phone-info">
                    @ViewBag.PhonenumberInfo
                    <div class="phone-number">
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.EditorFor(m => m.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="patient-content">                    
                    <div class="addition-content">
                        <div class="add-info">
                            <div class="info">
                                @Html.LabelFor(m => m.AdditionalInformation)
                                @Html.TextAreaFor(model => model.AdditionalInformation, 10, 30, "")
                                @Html.ValidationMessageFor(model => model.AdditionalInformation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="submit-button">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="links">
            @Html.ActionLink("Back to profile", "Index", new { area = "Profile", controller = "Information" })
        </div>

    </section>
}


